body {
	font-family: Helvetica;
}

.posts {
	float: left;
	width: 500px;
	border: 1px dashed #333;
	margin: 20px;
	padding: 10px;
}

.post p {
	margin: 0;
}

.post .username {
	font-weight: bold;
	font-style: itallic;
	color: #999;
}

.post .content {
    	
}